$color-white: white;

$color-blue-1: #1a1a2e;
$color-blue-2: #16213e;
$color-blue-3: #0f3460;
$color-blue-4: #175298;
$color-red-1: #ce1836;
$color-red-2: #e94560;
$color-red-10: #fef7f8;
$color-black: black;

$color-gray-1: #202020;
$color-gray-2: #454545;
$color-gray-3: #666666;
$color-gray-4: #bbb;
$color-gray-5: #ccc;
$color-gray-6: #f2f2f2;
