$color-white: white;

$color-blue-1: #1a1a2e;
$color-blue-2: #16213e;
$color-blue-3: #0f3460;
$color-blue-4: #f1f6fc;
$color-red: #e94560;
$color-red-10: #fef7f8;
$color-black: black;

$color-gray-1: #101010;
$color-gray-2: #454545;
$color-gray-3: #666666;
