@import '../styles/common.scss';

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-6;
    margin-bottom: $spacing-5;
    border-bottom: 2px solid $color-black;
    flex: 0 0 auto;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @media print {
        display: none;
    }
}

.logo {
    height: 40px;
    width: auto;
    margin-right: auto;

    @media print {
        height: 30px;
        margin: $spacing-3 auto $spacing-3 0;
    }
}

.name {
    font-size: $font-size-7;
    color: $color-blue-2;
    @include font-title;

    @media print {
        font-size: $font-size-5;
    }
}

.contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -1 * $spacing-3;
    margin-top: $spacing-2;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }

    @media print {
        margin-top: 0;
    }

    &_spacer {
        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
        }

        @media print {
            flex: 0 0 100%;
        }
    }

    &_contact {
        margin-left: $spacing-3;
        margin-top: $spacing-3;
        border: 1px solid $color-blue-3;
        padding: $spacing-2;
        font-size: $font-size-2;
        text-decoration: none;
        display: flex;
        align-items: center;
        //font-family: monospace;
        color: $color-red-2;
        flex: 0 0 auto;

        &:hover {
            background: $color-red-10;
        }

        &_icon {
            width: 20px;
            height: 20px;

            @media print {
                width: 14px;
                height: 14px;
            }
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }

        @media print {
            margin-top: 0;
            border: none;
        }
    }
}
