@import '../styles/common.scss';

.section {
    padding: $spacing-6 $spacing-3;
    color: $color-white;
    background: $color-blue-3;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        padding: $spacing-6;
    }

    @include media-breakpoint-up(lg) {
        padding: vw($spacing-10, xl);
    }

    @media print {
        color: $color-black;
        background: none;
        padding: 0;
        margin-top: $spacing-4;
    }

    &_title {
        @include font-title;
        flex: 0 0 100%;
        margin-bottom: $spacing-2;
        font-size: $font-size-9;
        position: sticky;
        top: 0;
        padding: 0 $spacing-1;

        @include media-breakpoint-up(lg) {
            font-size: vw($font-size-8, lg);
            top: vw($spacing-10, xl);
        }

        @media print {
            font-size: $font-size-6;
            padding: 0;
            position: static;
            border-bottom: 1px solid $color-black;
            margin-top: $spacing-6;
            padding-bottom: $spacing-2;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    background: $color-blue-3;
    z-index: 1;
    position: relative;
    margin-top: $spacing-6;
    margin-bottom: $spacing-6;

    @include media-breakpoint-up(lg) {
        margin-top: $spacing-10;
        margin-bottom: $spacing-10;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }

    @media print {
        background: $color-white;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.block {
    background: $color-white;
    padding: $spacing-6 $spacing-4;
    color: $color-black;
    margin-bottom: $spacing-8;
    page-break-inside: avoid;

    &:last-child {
        margin-bottom: 0 !important;
    }

    @include media-breakpoint-up(md) {
        padding: $spacing-6;
    }

    @include media-breakpoint-up(lg) {
        padding: $spacing-8;
        margin-bottom: $spacing-10;
    }

    @media print {
        margin-bottom: $spacing-4;
        padding: 0;
        background: none;
    }
}

.position {
    max-width: 700px;

    @media print {
        max-width: none;
    }

    + .position {
        margin-top: $spacing-2;
    }

    &_title {
        @include font-title;
        font-size: $font-size-6;
        color: $color-blue-3;
        padding-right: $spacing-3;

        @media print {
            font-size: $font-size-4;
        }
    }

    &_company {
        font-size: $font-size-3;
        color: $color-blue-2;
        display: inline;

        @media screen {
            display: none;
        }
    }

    &_time {
        color: $color-gray-2;
        font-size: $font-size-3;

        @media print {
            font-size: $font-size-2;
            display: inline;
            margin-left: $spacing-2;
        }
    }

    &_bullets {
        list-style: none;
        padding: 0;
        margin: $spacing-3 0;
        font-size: $font-size-3;

        @media print {
            font-size: $font-size-2;
            margin: $spacing-1 0 0;
        }

        > li {
            padding-left: $spacing-5;
            position: relative;
            line-height: 1.5;
            margin: 0 0 $spacing-1;

            &:before {
                content: '✱';
                color: $color-red;
                position: absolute;
                left: 0;
            }
        }

        em {
            color: $color-gray-3;
            font-size: $font-size-2;
            font-style: normal;
            display: block;

            @media print {
                font-size: $font-size-1;
            }
        }
    }

    &_techs {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;

        @media print {
            max-width: none;
        }

        &_item {
            border: 2px solid $color-blue-1;
            margin-top: $spacing-3;
            margin-right: $spacing-3;
            line-height: 30px;
            padding: 0 $spacing-2;
            font-size: $font-size-2;

            @media print {
                line-height: 25px;
                padding: 0 $spacing-2;
                border-width: 1px;
                margin-top: $spacing-1;
                margin-right: $spacing-1;
            }
        }
    }
}

.printSpacer {
    display: none;
    @media print {
        display: block;
        flex: 0 0 10px;
    }
}

.education {
    @extend .block;
    background: $color-white;

    &_header {
        margin-bottom: $spacing-5;
        font-size: $font-size-6;
        color: $color-blue-3;
        @include font-title;

        @media print {
            font-size: $font-size-4;
            margin-top: $spacing-1;
            padding-bottom: 0;
            margin-bottom: $spacing-2;
            border-bottom: none;
        }
    }

    &_degree {
        font-size: $font-size-3;
        margin-top: $spacing-3;

        @media print {
            margin-top: $spacing-1;
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 $spacing-4;
    color: $color-white;
    font-size: $font-size-4;
    align-self: center;
    text-decoration: none;

    img {
        margin-right: $spacing-2;
        width: 20px;
        height: 20px;
        @media screen {
            filter: invert(1);
        }
    }

    @media print {
        color: $color-gray-1;
        align-self: flex-end;
        opacity: 0.8;
    }
}
