@import '../styles/common.scss';

.profile {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;
}

.photo {
    grid-column: 1;
    grid-row: 1 / span 3;

    width: 250px;
    height: 250px;
    border-radius: 12px;
    margin-right: $spacing-8;
    align-self: center;
    object-fit: cover;

    @media screen {
        @include media-breakpoint-down(md) {
            grid-column: 1;
            grid-row: 1 / span 2;
            width: 130px;
            height: 130px;
            margin-right: $spacing-7;
        }
    }

    @media print {
        width: 130px;
        height: 130px;
        margin-right: $spacing-7;
        align-self: flex-start;
    }
}

.name {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;

    @include font-title;
    margin-bottom: $spacing-2;
    font-size: $font-size-7;
    color: $color-blue-4;

    @include media-breakpoint-up(lg) {
        font-size: vw($font-size-7, lg);
    }

    @media screen {
        @include media-breakpoint-down(md) {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            align-items: center;
            font-size: $font-size-6;
        }
    }

    @media print {
        font-size: $font-size-6;
        margin-bottom: $spacing-1;
    }

    img {
        margin-left: $spacing-3;
        width: 20px;
    }
}

.contacts {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media screen {
        @include media-breakpoint-down(md) {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            align-items: center;
        }
    }

    @media print {
        margin: 0;
    }

    &_spacer {
        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
        }

        @media print {
            flex: 0 0 100%;
        }
    }

    &_contact {
        $padding: $spacing-2;
        margin-right: $spacing-3;
        margin-bottom: $spacing-3;
        padding: 0 $padding;
        border: 1px solid $color-blue-3;
        font-size: $font-size-2;
        text-decoration: none;
        display: flex;
        align-items: center;
        //font-family: monospace;
        color: $color-red-2;
        flex: 0 0 auto;

        &:hover {
            background: $color-red-10;
        }

        &_icon {
            $size: 20px;
            width: $size + $padding;
            height: $size + 2 * $padding;
            padding: $padding $padding $padding 0;
        }

        @media print {
            margin-bottom: 0;
            padding-left: 0;
            border: none;
            font-size: $font-size-3;
            margin-right: $spacing-6;
            color: $color-red-1;
        }

        @media screen {
            @include media-breakpoint-down(md) {
                // hide text for everything
                font-size: 0;
                padding-right: 0;
            }
        }
    }
}

.description {
    grid-column: 2;
    grid-row: 3;

    font-size: $font-size-4;
    line-height: 1.5;
    max-width: 600px;

    @media screen {
        @include media-breakpoint-down(md) {
            grid-column: 1 / span 2;
            grid-row: 3;
            margin-top: $spacing-6;
        }
    }

    @media print {
        font-size: $font-size-2;
        max-width: unset;
        margin-top: $spacing-2;
    }

    > p {
        margin-bottom: $spacing-2;
    }
}
