.section {
    $safe-margin: 10vh;

    position: relative;
    z-index: 1;
    box-shadow: 0 0 5vh rgba(black, 0.2), 0 0 10vh rgba(black, 0.2), 0 0 15vh rgba(black, 0.2);

    &:not(:last-child) {
        min-height: 100vh;
        margin-bottom: $safe-margin;
    }

    @media print {
        position: relative !important;
        top: 0 !important;
        min-height: unset !important;
        margin-bottom: 0 !important;
        box-shadow: none;
    }
}
