@import '../styles/common.scss';

.section {
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: $spacing-6;

    @include media-breakpoint-up(lg) {
        padding: vw($spacing-10, xl);
    }

    @media print {
        padding: 0;
    }
}

.title {
    @include font-title;
    flex: 0 0 100%;
    margin-bottom: $spacing-2;
    margin-top: $spacing-9;
    font-size: $font-size-9;
    color: $color-blue-3;

    @include media-breakpoint-up(lg) {
        font-size: vw($font-size-8, lg);
    }

    @media print {
        font-size: $font-size-6;
        padding: 0;
        color: $color-black;
        padding-bottom: $spacing-2;
        border-bottom: 1px solid $color-black;
        margin-top: 0;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.skillsTitle {
    @include font-title;
    font-size: $font-size-8;
    flex: 0 0 100%;
    margin-bottom: $spacing-2;

    @media print {
        font-size: $font-size-4;
        padding: 0;
        margin: 0;
        color: $color-blue-3;
    }
}

.skillsOuter {
    flex: 0 0 100%;
    padding-top: $spacing-7;

    @include media-breakpoint-up(lg) {
        padding: 0 vw($spacing-6, lg) vw($spacing-6, lg) 0;

        &:not(:last-child) {
            flex: 0 0 50%;
        }
    }

    @media print {
        flex: 0 0 100%;
        font-size: $font-size-5;
        padding: 0;

        &:not(:last-child) {
            margin-bottom: $spacing-3;
        }
    }
}

.skillsInner {
    display: flex;
    flex-wrap: wrap;
}
