@import '../styles/common.scss';

.skill {
    border: 3px solid $color-blue-1;
    margin-top: $spacing-3;
    margin-right: $spacing-3;
    display: flex;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: $spacing-2 $spacing-3;
    justify-content: center;
    z-index: 1;

    @media print {
        padding: $spacing-2;
        margin-top: $spacing-2;
        margin-right: $spacing-2;
        border: none;
        background: $color-gray-6;
        border-radius: 4px;
    }
}

.text {
    font-size: $font-size-4;
    line-height: 1;

    @media print {
        font-size: $font-size-2;
    }
}

.points {
    display: flex;
    font-size: $font-size-1;
    color: $color-red-2;
    line-height: 1;
    margin-top: 2px;
}

.point {
    width: 8px;
    height: 8px;
}
