@import '../styles/common.scss';

.skill {
    border: 3px solid $color-blue-1;
    margin-top: $spacing-3;
    margin-right: $spacing-3;
    display: flex;
    height: 45px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 0 $spacing-3;
    justify-content: center;

    @media print {
        height: 38px;
        padding: 0 $spacing-2;
        border-width: 2px;
        margin-top: $spacing-2;
        margin-right: $spacing-2;
    }
}

.text {
    font-size: $font-size-4;
    line-height: 1;

    @media print {
        font-size: $font-size-3;
    }
}

.points {
    display: flex;
    font-size: 10px;
    color: $color-red;
    line-height: 1;
}

.point {
    width: 8px;
    height: 8px;
}
