@import '../styles/common.scss';

.section {
    $safe-margin: 100px;

    background: $color-white;
    position: relative;
    top: 0;
    min-height: calc(100vh + #{$safe-margin});
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: $safe-margin;

    @include media-breakpoint-up(lg) {
        padding: $spacing-7 vw($spacing-10, xl) #{$spacing-7 + $safe-margin};
    }
}

.title {
    @include font-title;
    flex: 0 0 100%;
    margin-bottom: $spacing-2;
    font-size: $font-size-9;
    padding: $spacing-6 $spacing-6 0;
    color: $color-blue-3;

    @include media-breakpoint-up(lg) {
        font-size: vw($font-size-8, lg);
        padding: 0 vw($spacing-6, lg);
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.skillsTitle {
    @include font-title;
    font-size: $font-size-8;
    flex: 0 0 100%;
    margin-bottom: $spacing-2;
}

.skillsOuter {
    flex: 0 0 100%;

    @include media-breakpoint-up(lg) {
        flex: 0 0 50%;
    }
}

.skillsInner {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-6;

    @include media-breakpoint-up(lg) {
        padding: vw($spacing-6, lg);
    }
}
