@import '../styles/common.scss';

.section {
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include media-breakpoint-up(lg) {
        padding: $spacing-7 vw($spacing-10, xl) $spacing-7;
    }

    @media print {
        padding: 0;
    }
}

.title {
    @include font-title;
    flex: 0 0 100%;
    margin-bottom: $spacing-2;
    font-size: $font-size-9;
    padding: $spacing-6 $spacing-6 0;
    color: $color-blue-3;

    @include media-breakpoint-up(lg) {
        font-size: vw($font-size-8, lg);
        padding: 0 vw($spacing-6, lg);
    }

    @media print {
        font-size: $font-size-6;
        padding: 0;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.skillsTitle {
    @include font-title;
    font-size: $font-size-8;
    flex: 0 0 100%;
    margin-bottom: $spacing-2;

    @media print {
        font-size: $font-size-4;
        padding: 0;
        margin: 0;
    }
}

.skillsOuter {
    flex: 0 0 100%;
    padding: $spacing-6;

    @include media-breakpoint-up(lg) {
        padding: vw($spacing-6, lg);
        &:not(:last-child) {
            flex: 0 0 50%;
        }
    }

    @media print {
        flex: 0 0 100%;
        font-size: $font-size-5;
        padding: 0;
        margin-bottom: $spacing-7;
    }
}

.skillsInner {
    display: flex;
    flex-wrap: wrap;
}
